<div *ngIf="item" class="card div-pad">
  <h5 class="card-title text-main text-center">{{item.nome}}</h5>
  <div class="card-body">
    <img class="img-form" src="{{item.imagem_url}}">
    <div class="div-foot">
      <p class="card-text inline">Preço:&nbsp;<strong>R$ {{item.preco}}</strong>&nbsp;&nbsp;</p>
      <div class="inline div-rig">
        <input class ="input-fr inline form-control" type="number" max="{{item.quantidade}}" min="0">
        <button class ="btn btn-primary btn-main"><fa-icon [icon]="faCartShopping"></fa-icon></button>
      </div>
    </div>
  </div>
</div>
