<p id="toolbar">
  <mat-toolbar>
    <mat-toolbar-row class="toolbar-categories text-center d-flex justify-content-between flex-wrap">
      <span>Inscreva-se agora para ganhar desconto a cada compra realizada online
      <button type="button" class="button-inscricao">Inscreva-se</button>
      </span>

    </mat-toolbar-row>
  </mat-toolbar>

    <mat-toolbar-row class="d-flex justify-content-around toolbar-company shadow-sm">
      <img src="assets/images/logo.png" alt="logo">

      <button mat-button>HOME</button>
      <button mat-button>SOBRE</button>
      <button mat-button>CATEGORIAS</button>
      <button mat-button>SERVIÇOS</button>
      <button mat-button>FALE CONOSCO</button>


    </mat-toolbar-row>


</p>
